body {background-color: mediumslateblue;}
h1{text-align: center; 
margin-right: 5px;}
#start-btn{margin-right: 17%;
padding: 15px;
border-radius: 5px;

}
.mywebapp{margin-right: 37.5%;}
#instructions{margin-right: 15%;
    padding: 15px;
font-weight: bold;}